.btn {
  font-size: 1.4rem;
  font-family: cursive;
  border-radius: 10px;
}
.btn-primary {
  color: #fff;
  background-color: #d40b0b8f;
  border-color: #8801015e;
  margin: 10px;
}
.btn-primary:active {
  color: #fff;
  background-color: #720000;
  border-color: #600101;
}
.btn-primary:hover {
  color: #fff;
  background-color: #da4343;
  border-color: #be5151;
}
.btn-primary:focus {
  color: #fff;
  background-color: #da4343;
  border-color: #be5151;
  box-shadow: 0 0 0 0.25rem rgb(239 113 113 / 50%);
}
.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(239 113 113 / 50%);
}
.sCity {
  font-size: 40px;
  text-align: center;
}
