.daysAfter {
  color: black;
  background-color: #ffffff9d;
  border-radius: 60px;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  // margin: 35px 100px;
  align-items: baseline;
}
