.search {
  color: hsl(0, 0%, 40%);
  display: inline-block;
  // font-size: 25px;
  font-style: normal;
  // width: 500px;
  // margin-bottom: 30px;
  &.css-b62m3t-container .css-1pahdxg-control {
    &:hover {
      border-color: rgba(255, 255, 255, 0.829) !important;
    }
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.829);
    border-color: rgba(255, 255, 255, 0.829);
  }
}

.top {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.btn {
  // font-size: 1.4rem;
  font-family: cursive;
  border-radius: 10px;
}
.btn-primary {
  color: #000000;
  background-color: #ffffffe6;
  border-color: #ffffff96;

  &:active {
    color: #fff;
    background-color: #585858;
    border-color: #74747426;
    &.night {
      color: #000000;
      background-color: #fbfbfb;
      border-color: #acacac2e;
    }
  }
  &:hover {
    color: black;
    background-color: #d6d6d6;
    border-color: #bebebe33;
    &.night {
      color: white;
      background-color: #262626;
      border-color: #3a3a3a85;
    }
  }
  &:focus {
    color: black;
    background-color: #d6d6d6;
    border-color: #bebebe33;
    box-shadow: 0 0 0 0.25rem rgb(170 170 170 / 50%);
    &.night {
      color: white;
      background-color: #262626;
      border-color: #3a3a3a85;
      box-shadow: 0 0 0 0.25rem rgb(86 85 85 / 50%);
    }
  }
  &:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(170 170 170 / 50%);

    &.night {
      box-shadow: 0 0 0 0.25rem rgb(86 85 85 / 50%);
    }
  }
}
