.main {
  height: 1041px;
  background-image: url("./images/first.webp");
}
.main.clearsky {
  background-image: url();
}
.main.fewclouds {
  background-image: url();
}
.main.scatteredclouds {
  background-image: url();
}
.main.brokenclouds {
  background-image: url();
}
.main.showerrain {
  background-image: url();
}
.main.rain {
  background-image: url();
}
.main.thunderstorm {
  background-image: url();
}
.main.snow {
  background-image: url();
}
.main.mist {
  background-image: url();
}

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
  font-size: 80px;
  color: aliceblue;
}

.cities {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}
.title {
  margin-top: 50px;
}
